<div class="container mx-auto px-4 py-12">
  <h1 class="text-4xl font-bold text-gray-800 mb-10 text-center">クイズ一覧</h1>

  <div id="autocomplete-root" class="mx-auto mb-6 relative">
  </div>

  <div class="mt-4">
    <%= link_to 'トップへ戻る', root_path, class: "block text-center text-blue-600 hover:underline" %>
  </div>
</div>

<script src="/assets/quizlist_page.js"></script>