.autocomplete-results-list {
  max-height: 300px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
}
  
.autocomplete-result-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: rgb(175, 237, 242);
}