.service-background {
  background-image: url('/assets/mainback1.jpg');
  background-size: cover;
  background-position: center;
}

.service-background {
  background-image: url('/assets/mainback1.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px; /* 背景画像とコンテンツの間のスペース */
}