<p>こんにちは、<%= @resource.email %>さん!</p>

<p>「クイズ！市販薬の成分」をご利用いただき、大変嬉しく思います。</p>
<p>パスワードのリセット要求が行われました。下のリンクから新しいパスワードを設定できます。</p>

<p><%= link_to 'パスワードをリセットする', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしパスワードのリセットをリクエストしていない場合は、このメールを無視してください。</p>
<p>重要：このパスワードリセットリンクは、発行から30分間のみ有効です。30分を過ぎるとリンクは無効となりますので、ご注意ください。</p>

<br>
<hr>

<p><strong>クイズ！市販薬の成分</strong></p>
<p>お問い合わせ: <a href="https://forms.gle/toFZwS4vo9P5N4tm9">こちらのフォームから</a></p>
<p>ウェブサイト: <a href="https://www.quiz-drugingredients.com">www.quiz-drugingredients.com</a></p>